node_modules/
release/
dist/win-unpacked/
dist/builder-debug.yml
dist/*.exe
test_*.js
*.zip
.DS_Store
Thumbs.db

# Tauri
src-tauri/target/
dist-tauri/renderer.js
dist-tauri/renderer.js.LICENSE.txt

# Temp screenshots
7521840a0a99bd91bde90efbae6ce027.png
